# Ignore build output directories
/build/
/ios/Flutter/App.framework
/ios/Flutter/Flutter.framework
/ios/.symlinks/
/ios/Pods/
/macos/Flutter/ephemeral/
/web/
/windows/Flutter/ephemeral/
/linux/Flutter/ephemeral/

# Ignore Android build files
/android/.gradle
/android/app/build/
/android/build/
/android/app/outputs/apk/


# Ignore VSCode and IntelliJ IDE files
.idea/
/.vscode/

# Ignore APK and IPA files (built apps)
*.apk
*.ipa
